# compiled output
/backend-todo-list/dist
/backend-todo-list/node_modules
/backend-todo-list/build

# Logs
/backend-todo-list/logs
/backend-todo-list/*.log
/backend-todo-list/npm-debug.log*
/backend-todo-list/pnpm-debug.log*
/backend-todo-list/yarn-debug.log*
/backend-todo-list/yarn-error.log*
/backend-todo-list/lerna-debug.log*

# OS
/backend-todo-list/.DS_Store

# Tests
/backend-todo-list//coverage
/backend-todo-list//.nyc_output

# IDEs and editors
/backend-todo-list//.idea
/backend-todo-list/.project
/backend-todo-list/.classpath
/backend-todo-list/.c9/
/backend-todo-list/*.launch
/backend-todo-list/.settings/
/backend-todo-list/*.sublime-workspace

# IDE - VSCode
/backend-todo-list/.vscode/*
/backend-todo-list/!.vscode/settings.json
/backend-todo-list/!.vscode/tasks.json
/backend-todo-list/!.vscode/launch.json
/backend-todo-list/!.vscode/extensions.json

# dotenv environment variable files
/backend-todo-list/.env
/backend-todo-list/.env.development.local
/backend-todo-list/.env.test.local
/backend-todo-list/.env.production.local
/backend-todo-list/.env.local

# temp directory
/backend-todo-list/.temp
/backend-todo-list/.tmp

# Runtime data
/backend-todo-list/pids
/backend-todo-list/*.pid
/backend-todo-list/*.seed
/backend-todo-list/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
/backend-todo-list/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/backend-todo-list/postgres-data

# front-end

# dependencies
/frontend-todo-list/node_modules
/frontend-todo-list/.pnp
/frontend-todo-list/.pnp.js

# testing
/frontend-todo-list/coverage

# production
/frontend-todo-list/build

# misc
/frontend-todo-list/.DS_Store
/frontend-todo-list/.env.local
/frontend-todo-list/.env.development.local
/frontend-todo-list/.env.test.local
/frontend-todo-list/.env.production.local

/frontend-todo-list/npm-debug.log*
/frontend-todo-list/yarn-debug.log*
/frontend-todo-list/yarn-error.log*